@font-face {
    font-display: swap;
    font-family: Be Vietnam Pro;
    font-style: normal;
    font-weight: 400;
    src: url("b21a8376d942833de6fc.91f7ad7162e8.woff2") format("woff2"),
         url("9d39c5afde36caab15af.87555dca5ebf.woff") format("woff"),
         url("928943ad1cde2c246ebe.98d3107dcef7.ttf") format("ttf");
}

@font-face {
    font-display: swap;
    font-family: Be Vietnam Pro;
    font-style: normal;
    font-weight: 700;
    src: url("067e5dad13c9184c2ba1.c0d25ced7cb5.woff2") format("woff2"),
         url("96cf703a62df26634994.7afa7acdf7a2.woff") format("woff"),
         url("c5db00c49453801fa415.f731be201149.ttf") format("ttf");
}

@font-face {
    font-display: swap;
    font-family: Be Vietnam Pro;
    font-style: normal;
    font-weight: 900;
    src: url("1da861906eae74cef5c2.6eaba6c08ad3.woff2") format("woff2"),
         url("21acff9ed9d767e8d6cb.cab8e9de8c36.woff") format("woff"),
         url("ef835af0769e589376f2.ddea7dc0de40.ttf") format("ttf");
}

@font-face {
    font-display: swap;
    font-family: Space Mono;
    font-style: normal;
    font-weight: 700;
    src: url("b606148c8e6ddb775208.43881a474ab8.woff2") format("woff2"),
         url("1653b9c1ae9676c7c222.536a24abaedb.woff") format("woff"),
         url("2835b09aac8059f395dd.8afac03e66a0.ttf") format("ttf");
}